<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477838624251-oc1fr0js78edcne5k69d2lr810lvab49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477838624251-oc1fr0js78edcne5k69d2lr810lvab49</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>477838624251-5shdj73u89vf506mg2ktl2kpboebqt71.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGRlEY3gAbhr3Y5nI0w3vx6AGtMpRC9uo</string>
	<key>GCM_SENDER_ID</key>
	<string>477838624251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotificationsV2</string>
	<key>PROJECT_ID</key>
	<string>push-v2-ab2cc</string>
	<key>STORAGE_BUCKET</key>
	<string>push-v2-ab2cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477838624251:ios:a23e36beb23e33c9d4f75e</string>
	<key>DATABASE_URL</key>
	<string>https://push-v2-ab2cc.firebaseio.com</string>
</dict>
</plist>